@{
    ViewData["Title"] = "danh sach";
}

<div class="lg__content">
                <div class="lg__breadcrumb">
                    <ul class="list__menu reset lg__breadcrumb__list">
                        <li class="list__item__inline lg__breadcrumb__list__item">
                            <a href="/" class="lg__breadcrumb__list__item__link">Trang Chủ</a>
                        </li>
                        <li class="list__item__inline lg__breadcrumb__list__item">
                            <a href="/" class="lg__breadcrumb__list__item__link ">Tin tức</a>
                        </li>
                    </ul>
                </div>
                <div class="lg__content__box ui segment">
                    <div class="lg__content__box__header">
                        <h1 class="lg__content__box__header__title">Tin tức</h1>
                    </div>
                    <div class="lg__content__box__content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box__main__article">
                                <div class="main__article">
                                    <a href="#">
                                        <div class="main__article__box__img">
                                            <img src="../images/theuhaiquan.png" alt="Vân tải container" class="main__article__img">
                                        </div>
                                        <div class="main__article__content">
                                            <span class="main__article__content__date">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 20/2/2017
                                                </span>
                                            <h1 class="main__article__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore aliquid officia commodi ipsum itaque!</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box__main__article">
                                <div class="main__article">
                                    <a href="#">
                                        <div class="main__article__box__img">
                                            <img src="../images/vantaibacnam.png" alt="Vân tải container" class="main__article__img">
                                        </div>
                                        <div class="main__article__content">
                                            <span class="main__article__content__date">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 20/2/2017
                                                </span>
                                            <h1 class="main__article__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore aliquid officia commodi ipsum itaque!</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box__main__article">
                                <div class="main__article">
                                    <a href="#">
                                        <div class="main__article__box__img">
                                            <img src="../images/vantaibien.png" alt="Vân tải container" class="main__article__img">
                                        </div>
                                        <div class="main__article__content">
                                            <span class="main__article__content__date">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 20/2/2017
                                                </span>
                                            <h1 class="main__article__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore aliquid officia commodi ipsum itaque!</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box__main__article">
                                <div class="main__article">
                                    <a href="#">
                                        <div class="main__article__box__img">
                                            <img src="../images/service/Truck.png" alt="Vân tải container" class="main__article__img">
                                        </div>
                                        <div class="main__article__content">
                                            <span class="main__article__content__date">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 20/2/2017
                                                </span>
                                            <h1 class="main__article__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore aliquid officia commodi ipsum itaque!</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box__main__article">
                                <div class="main__article">
                                    <a href="#">
                                        <div class="main__article__box__img">
                                            <img src="../images/about/1.jpg" alt="Vân tải container" class="main__article__img">
                                        </div>
                                        <div class="main__article__content">
                                            <span class="main__article__content__date">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 20/2/2017
                                                </span>
                                            <h1 class="main__article__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore aliquid officia commodi ipsum itaque!</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box__main__article">
                                <div class="main__article">
                                    <a href="#">
                                        <div class="main__article__box__img">
                                            <img src="../images/about/2.jpg" alt="Vân tải container" class="main__article__img">
                                        </div>
                                        <div class="main__article__content">
                                            <span class="main__article__content__date">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 20/2/2017
                                                </span>
                                            <h1 class="main__article__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore aliquid officia commodi ipsum itaque!</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="lg__pagination">
                            <div class="ui buttons">
                                <button class="ui button lg__pagination__item lg__pagination__item__active">1</button>
                                <button class="ui button lg__pagination__item">2</button>
                                <button class="ui button lg__pagination__item">3</button>
                                <button class="ui button lg__pagination__item">...</button>
                                <button class="ui button lg__pagination__item">6</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>