

<div class="col__lg__4">
                        <div class="ui segment">
                            <div class="lg__content__box__header">
                                <h1 class="lg__content__box__header__title">Liên Hệ</h1>
                            </div>
                            <div class="lg__content__box__content">
                                <form class="ui form" method="post">
                                    <div class="field">
                                        <label>Tên của bạn</label>
                                        <input type="text" required name="yourname" placeholder="Ví dụ: Nguyễn Văn A">
                                    </div>
                                    <div class="field">
                                        <label>Số điện thoại</label>
                                        <input type="text" required name="phone" placeholder="Ví dụ: 0909123456">
                                    </div>
                                    <div class="field">
                                        <label>Email</label>
                                        <input type="email" required name="email" placeholder="Ví dụ: nguyenvana@gmail.com">
                                    </div>
                                    <div class="field">
                                        <label>Nội dụng</label>
                                        <textarea id="contact__textarea" rows="4" required></textarea>
                                    </div>
                                    <button class="ui button lg__right green" type="submit">Gửi</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>