@model LeGia.Areas.Admin.Models.ImageViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Tạo mới thông tin hình ảnh</h3>
<form class="form-horizontal" asp-controller="Image" asp-action="New" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Tên chủ đề</label>
        <div class="col-sm-6">
            <input asp-for="Name" class="form-control height-input" id="name" placeholder="tên" onkeyup="ChangeToSlug();">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="alias" class="col-sm-2 control-label">Định danh</label>
        <div class="col-sm-6">
            <input asp-for="Alias" class="form-control height-input" id="alias" readonly placeholder="định danh - tự động lấy từ tên">
            <span asp-validation-for="Alias" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <label class="col-sm-2"><input asp-for="IsLogo" />  khách hàng</label>
            <label class="col-sm-2"><input asp-for="IsProject" />  dự án</label>
            <label class="col-sm-2"><input asp-for="IsSlide" />  slide</label>
        </div>
    </div>
    <div class="form-group">
        <label for="l" class="col-sm-2 control-label">Link</label>
        <div class="col-sm-10">
            <input asp-for="Link" class="form-control height-input" id="l" placeholder="dán link (nếu có) vào đây">
        </div>
    </div>
    <div class="form-group">
        <label for="im" class="col-sm-2 control-label">Hình ảnh</label>
        <div class="col-sm-10">
            <input asp-for="Image" class="form-control height-input" id="im" placeholder="chọn hình ảnh">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="mota" class="col-sm-2 control-label">Mô tả</label>
        <div class="col-sm-10">
            <input asp-for="Description" class="form-control height-input" id="mota" placeholder="mô tả thêm cho chủ đề dễ hiểu">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</form>

