@{
    ViewData["Title"] = "Cty TNHH xây dựng và thang máy Thuận Phong - " + " về chúng tôi";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
