@model LeGia.Models.ContactViewModel
@{
    ViewData["Title"] = "Cty TNHH xây dựng và thang máy Thuận Phong";
}

        <main>
            @await Component.InvokeAsync("Slide")
            <!-- End slider-->
            <div class="lg__content">
                <div class="lg__content__box ui segment">
                    <div class="lg__content__box__header">
                        <h1 class="lg__content__box__header__title">Giới Thiệu Về Chúng Tôi</h1>
                    </div>
                    <div class="lg__content__box__content">
                        <div class="">
                            <p class="lg__content__box__content__title">
                                Công ty chúng tôi có đội ngũ cán bộ, nhân viên giỏi chuyên môn nghiệp vụ, rất giàu kinh nghiệm trong quản lý, điều hành vận tải, sẵn sàng tư vấn miễn phí cho khách hàng. Khi sử dụng dịch vụ chúng tôi quý khách chỉ phải bỏ ra phí dịch vụ vận chuyển tiết
                                kiệm nhất, nhưng sẽ nhận được chất lượng dịch vụ tốt nhất
                            </p>
                            <div class="row lg__row__margin">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="lg__content__box__icon">
                                        <i class="fa fa-thumbs-up thumbs__color" aria-hidden="true"></i>
                                        <p class="lg__content__box__icon__title thumbs__color">Uy Tín Được Đảm Bảo</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="lg__content__box__icon">
                                        <i class="fa fa-trophy trophy__color" aria-hidden="true"></i>
                                        <p class="lg__content__box__icon__title trophy__color">Chất lượng Được Kiểm Chứng</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="lg__content__box__icon">
                                        <i class="fa fa-handshake-o handshake__color" aria-hidden="true"></i>
                                        <p class="lg__content__box__icon__title handshake__color">Tận Tâm Phục Vụ</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("Service")
                <div class="row lg__content__box lg__row__reset">
                    @await Component.InvokeAsync("PostHome")
                    <div class="col__lg__4">
                        <div class="ui segment">
                            <div class="lg__content__box__header">
                                <h1 class="lg__content__box__header__title">Liên Hệ</h1>
                            </div>
                            <div class="lg__content__box__content">
                                <form id="contact" class="ui form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="field">
                                        <label>Tên của bạn</label>
                                        <input asp-for="FullName" required="" name="fullname" placeholder="Ví dụ: Nguyễn Văn A">
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                    <div class="field">
                                        <label>Số điện thoại</label>
                                        <input asp-for="Phone" required="" name="phone" placeholder="Ví dụ: 0909123456">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                    <div class="field">
                                        <label>Email</label>
                                        <input asp-for="Email" required="" name="email" placeholder="Ví dụ: nguyenvana@gmail.com">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="field">
                                        <label>Nội dụng</label>
                                        <textarea asp-for="Content" id="contact__textarea" rows="2" required=""></textarea>
                                        <span asp-validation-for="Content" class="text-danger"></span>
                                    </div>
                                    <button class="ui button lg__right green" onclick="InsertContact()">Gửi</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                @await Component.InvokeAsync("Customer")
            </div>
        </main>



@section Scripts{
    <script type="text/javascript">
        function InsertContact() {
            var frm = $("#contact");
            $.ajax({
                url: "@(Url.Action("Index","lien-he"))",
                type: "POST",
                data: frm.serialize(),
                success: function (mess) {
                    alert("Cảm ơn bạn đã liên hệ với chúng tôi. Chúng tôi sẽ liên lạc lại với bạn ngay nhé.");
                },
                error: function (error) {
                    alert(error);
                }
            })
        }
    </script>
}