@model LeGia.Areas.Admin.Models.ChangePasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Đổi mật khẩu</h3>
<form class="form-horizontal" asp-controller="Account" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Tên đăng nhập</label>
        <div class="col-sm-4">
            <input asp-for="UserName" class="form-control height-input" id="UserName" readonly>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Mật khẩu cũ</label>
        <div class="col-sm-4">
            <input asp-for="OldPassword" class="form-control height-input" id="OldPassword" required>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="alias" class="col-sm-2 control-label">Mật khẩu mới</label>
        <div class="col-sm-4">
            <input asp-for="NewPassword" class="form-control height-input" id="NewPassword" required>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </div>
    </div>
</form>