@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lê Gia, Le Gia, legia, LeGia, Lê Gia Trains, Le Gia Train, LêGiaTrains, LeGiaTrains, 
                Lê Gia Sài Gòn, LeGia Sai Gon, Lê Gia HCM, LeGia HCM, Lê Gia Thủ Đức, LeGia ThuDuc, Van Tai Hang Khong, Van Tai Quoc Te,
                Van Tai Duong Thuy, Van Tai Duong Song, Van Tai Duong Bo, Vận Tải Hàng Không, Vận Tải Hàng Không Quốc Tế, Vận Tải Đường
                Thủy, Vận Tải Đường Sông, Vận Tải Đường Bộ">
    <meta name="keywords" content="Lê Gia, Le Gia, legia, LeGia, Lê Gia Trains, Le Gia Train, LêGiaTrains, LeGiaTrains, 
                Lê Gia Sài Gòn, LeGia Sai Gon, Lê Gia HCM, LeGia HCM, Lê Gia Thủ Đức, LeGia ThuDuc, Van Tai Hang Khong, Van Tai Quoc Te,
                Van Tai Duong Thuy, Van Tai Duong Song, Van Tai Duong Bo, Vận Tải Hàng Không, Vận Tải Hàng Không Quốc Tế, Vận Tải Đường
                Thủy, Vận Tải Đường Sông, Vận Tải Đường Bộ">
    <meta name="robots" content="Lê Gia, Le Gia, legia, LeGia, Lê Gia Trains, Le Gia Train, LêGiaTrains, LeGiaTrains, 
                Lê Gia Sài Gòn, LeGia Sai Gon, Lê Gia HCM, LeGia HCM, Lê Gia Thủ Đức, LeGia ThuDuc, Van Tai Hang Khong, Van Tai Quoc Te,
                Van Tai Duong Thuy, Van Tai Duong Song, Van Tai Duong Bo, Vận Tải Hàng Không, Vận Tải Hàng Không Quốc Tế, Vận Tải Đường
                Thủy, Vận Tải Đường Sông, Vận Tải Đường Bộ">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/client/engine1/style.css" />
    <link rel="stylesheet" type="text/css" href="~/client/style/hamburgers.css">
    <link href="~/client/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/client/style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/client/style/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/client/style/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/client/style/fractionslider.css">
    <link rel="stylesheet" type="text/css" href="~/client/style/style.css">
    <script type="text/javascript" src="~/client/engine1/jquery.js"></script>
    <script src="~/client/js/jquery.min.js"></script>
    <script src="~/client/owl-carousel/owl.carousel.js"></script>
    <script src="~/client/js/semantic.min.js"></script>
    <script src="~/client/js/slider.js"></script>
    <script src="~/client/js/app.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body style="font-family:Arial">
    <div class="top_button">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>
    @await Component.InvokeAsync("MobileMenu")
    <div class="ui sidebar inverted right" id="mobile__search">
        <div class="mobile__search__content">
            <button class="search__box__button__responsive lg__right" id="mobile__search__close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <div class="clearfix"></div>
            <div class="mobile__search__box">
                <input type="text" class="search__box__field" name="Search" value="" placeholder="Tìm kiếm...">
            </div>
            <button id="mobile__search__button">Tìm kiếm</button>
        </div>
    </div>
    <div class="pusher" id="wrapper">
        <header id="header__desktop">
            <div class="hamburger hamburger--slider lg__left">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="search__box lg__right" id="search__box__responsive">
                <button class="search__box__button__responsive">
                    <i class="fa fa-search" id="icon__change" aria-hidden="true"></i>
                </button>
            </div>
            <div class="header__top">
                <div class="header__top__logo lg__left">
                    <a href="/">
                    <img src="https://res.cloudinary.com/dangpt/image/upload/v1559970863/thuanphong/logo_litbuk.jpg" alt="Logo Le Gia" class="img__logo">
                    </a>
                </div>
                <div class="header__top__brandname lg__left">
                    <h3 class="header__top__brandname__h3">
                        Công ty TNHH Xây Dựng Và Thang Máy THUẬN PHONG
                    </h3>
                    <h1 class="header__top__brandname__h1">
                        THUAN PHONG ELEVATOR
                    </h1>
                </div>
                <ul class="list__icon__social lg__right" id="desktop__icon__social">
                    <li class="list__item__inline ">
                        <a href="#" class="list__item__inline__link icon__link lg__facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list__item__inline ">
                        <a href="#" class="list__item__inline__link icon__link lg__google">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list__item__inline ">
                        <a href="#" class="list__item__inline__link icon__link lg__twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            @await Component.InvokeAsync("HeadMenu")
        </header>
        @RenderBody()
        @await Component.InvokeAsync("Footer")
    </div>
    <div class="container body-content">
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
