@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="~/client/engine1/style.css" />
    <link rel="stylesheet" type="text/css" href="~/client/style/hamburgers.css">
    <link href="~/client/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/client/style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/client/style/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/client/style/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/client/style/fractionslider.css">
    <link rel="stylesheet" type="text/css" href="~/client/style/style.css">
    <script type="text/javascript" src="~/client/engine1/jquery.js"></script>
    <script src="~/client/js/jquery.min.js"></script>
    <script src="~/client/owl-carousel/owl.carousel.js"></script>
    <script src="~/client/js/semantic.min.js"></script>
    <script src="~/client/js/slider.js"></script>
    <script src="~/client/js/app.js"></script>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="top_button">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>
    @await Component.InvokeAsync("MobileMenu")
    <div class="ui sidebar inverted right" id="mobile__search">
        <div class="mobile__search__content">
            <button class="search__box__button__responsive lg__right" id="mobile__search__close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <div class="clearfix"></div>
            <div class="mobile__search__box">
                <input type="text" class="search__box__field" name="Search" value="" placeholder="Tìm kiếm...">
            </div>
            <button id="mobile__search__button">Tìm kiếm</button>
        </div>
    </div>
    <div class="pusher" id="wrapper">
        <header id="header__desktop">
            <div class="hamburger hamburger--slider lg__left">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="search__box lg__right" id="search__box__responsive">
                <button class="search__box__button__responsive">
                    <i class="fa fa-search" id="icon__change" aria-hidden="true"></i>
                </button>
            </div>
            <div class="header__top">
                <div class="header__top__logo lg__left">
                    <img src="http://res.cloudinary.com/legiatrans-com/image/upload/v1494659008/Logo_lkzh4i.png" alt="Logo Le Gia" class="img__logo">
                </div>
                <div class="header__top__brandname lg__left">
                    <h3 class="header__top__brandname__h3">
                        Công ty TNHH Xuất Nhập Khẩu - Thương Mại - Dịch Vụ - Vận Tải
                    </h3>
                    <h1 class="header__top__brandname__h1">
                        Lê Gia
                    </h1>
                </div>
                <ul class="list__icon__social lg__right" id="desktop__icon__social">
                    <li class="list__item__inline ">
                        <a href="#" class="list__item__inline__link icon__link lg__facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list__item__inline ">
                        <a href="#" class="list__item__inline__link icon__link lg__google">
                            <i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list__item__inline ">
                        <a href="#" class="list__item__inline__link icon__link lg__twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            @await Component.InvokeAsync("HeadMenu")
        </header>
        <main>
            <div class="slider">
                <div id="wowslider-container1">
                    <div class="ws_images">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="/client/data1/images/1.png" alt="vanchuyencontainer" title="Dịch vụ vận chuyển container đường thủy" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/client/data1/images/2.png" alt="vanchuyencontainer" title="Dịch vụ vận chuyển container đường bộ" />
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="/client/data1/images/3.png" alt="vanchuyencontainer" title="Dịch vụ vận chuyển bắc nam" />
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="/client/data1/images/4.png" alt="khaibaohaiquan" title="Dịch vụ khai báo hải quan" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ws_bullets">
                        <div>
                            <a href="#" title="Dịch vụ vận chuyển container đường thủy"><span>1</span></a>
                            <a href="#" title="Dịch vụ vận chuyển container đường bộ"><span>2</span></a>
                            <a href="#" title="Dịch vụ vận chuyển bắc nam"><span>3</span></a>
                            <a href="#" title="Dịch vụ khai báo hải quan"><span>4</span></a>
                        </div>
                    </div>
                    <div class="ws_shadow"></div>
                </div>
                <script type="text/javascript" src="~/client/engine1/wowslider.js"></script>
                <script type="text/javascript" src="~/client/engine1/script.js"></script>
            </div>
            <!-- End slider-->
            <div class="lg__content">
                <div class="lg__content__box ui segment">
                    <div class="lg__content__box__header">
                        <h1 class="lg__content__box__header__title">Giới Thiệu Về Chúng Tôi</h1>
                    </div>
                    <div class="lg__content__box__content">
                        <div class="">
                            <p class="lg__content__box__content__title">
                                Công ty chúng tôi có đội ngũ cán bộ, nhân viên giỏi chuyên môn nghiệp vụ, rất giàu kinh nghiệm trong quản lý, điều hành vận tải, sẵn sàng tư vấn miễn phí cho khách hàng. Khi sử dụng dịch vụ chúng tôi quý khách chỉ phải bỏ ra phí dịch vụ vận chuyển tiết
                                kiệm nhất, nhưng sẽ nhận được chất lượng dịch vụ tốt nhất
                            </p>
                            <div class="row lg__row__margin">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="lg__content__box__icon">
                                        <i class="fa fa-thumbs-up thumbs__color" aria-hidden="true"></i>
                                        <p class="lg__content__box__icon__title thumbs__color">Uy Tín Được Đảm Bảo</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="lg__content__box__icon">
                                        <i class="fa fa-trophy trophy__color" aria-hidden="true"></i>
                                        <p class="lg__content__box__icon__title trophy__color">Chất lượng Được Kiểm Chứng</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="lg__content__box__icon">
                                        <i class="fa fa-handshake-o handshake__color" aria-hidden="true"></i>
                                        <p class="lg__content__box__icon__title handshake__color">Tận Tâm Phục Vụ</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg__content__box ui segment">
                    <div class="lg__content__box__header">
                        <h1 class="lg__content__box__header__title">Dịch Vụ Của Chúng Tôi</h1>
                    </div>
                    <div class="lg__content__box__content">
                        <div class="row">
                            <div id="slider__service" class="owl-carousel">
                                <div class="item">
                                    <div class="service__box" id="box__1">
                                        <a href="#" class="service__box__title">
                                        Khai báo Hải Quan
                                    </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service__box" id="box__2">
                                        <a href="#" class="service__box__title">
                                        Vận chuyển container Đường thủy
                                    </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service__box" id="box__3">
                                        <a href="#" class="service__box__title">
                                        Vận chuyển Bắc Nam
                                    </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="service__box" id="box__4">
                                        <a href="#" class="service__box__title">
                                        Vận chuyển container Đường bộ
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <ul class="list__menu list__slider__control">
                                <li class="list__item__inline list__slider__control__item" id="control__prev">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </li>
                                <li class="list__item__inline list__slider__control__item" id="control__next">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row lg__content__box lg__row__reset">
                    <div class="col__lg__8">
                        <div class="ui segment">
                            <div class="lg__content__box__header">
                                <h1 class="lg__content__box__header__title">Tin Tức</h1>
                            </div>
                            <div class="lg__content__box__content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col__border__right">
                                    <div class="main__article">
                                        <a href="#">
                                            <div class="main__article__box__img">
                                                <img src="/client/images/service/Truck.png" alt="Vân tải container" class="main__article__img">
                                            </div>
                                            <div class="main__article__content">
                                                <span class="main__article__content__date">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i> 20/2/2017
                                                </span>
                                                <h1 class="main__article__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore aliquid officia commodi ipsum itaque!</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="main__article__box">
                                        <div class="hot__new__article">
                                            <p href="#">Tin tức khác</p>
                                        </div>
                                        <ul class="list__menu list__article">
                                            <li class="list__article__item">
                                                <a href="#" class="list__article__item__link">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, porro.
                                                </a>
                                            </li>
                                            <li class="list__article__item">
                                                <a href="#" class="list__article__item__link">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, porro.
                                                </a>
                                            </li>
                                            <li class="list__article__item">
                                                <a href="#" class="list__article__item__link">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, porro.
                                                </a>
                                            </li>
                                            <li class="list__article__item">
                                                <a href="#" class="list__article__item__link">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, porro.
                                                </a>
                                            </li>
                                            <li class="list__article__item">
                                                <a href="#" class="list__article__item__link">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, porro.
                                                </a>
                                            </li>
                                        </ul>
                                        <button class="ui button lg__button lg__right">Xem thêm</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col__lg__4">
                        <div class="ui segment">
                            <div class="lg__content__box__header">
                                <h1 class="lg__content__box__header__title">Liên Hệ</h1>
                            </div>
                            <div class="lg__content__box__content">
                                <form class="ui form" method="post">
                                    <div class="field">
                                        <label>Tên của bạn</label>
                                        <input type="text" required name="yourname" placeholder="Ví dụ: Nguyễn Văn A">
                                    </div>
                                    <div class="field">
                                        <label>Số điện thoại</label>
                                        <input type="text" required name="phone" placeholder="Ví dụ: 0909123456">
                                    </div>
                                    <div class="field">
                                        <label>Email</label>
                                        <input type="email" required name="email" placeholder="Ví dụ: nguyenvana@gmail.com">
                                    </div>
                                    <div class="field">
                                        <label>Nội dụng</label>
                                        <textarea id="contact__textarea" rows="4" required></textarea>
                                    </div>
                                    <button class="ui button lg__right green" type="submit">Gửi</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="lg__content__box ui segment">
                    <div class="lg__content__box__header">
                        <h1 class="lg__content__box__header__title">Đối Tác Của Chúng Tôi</h1>
                    </div>
                    <div class="lg__content__box__content">
                        <div class="row">
                            <div id="slider__partner" class="owl-carousel">
                                <div class="item">
                                    <img src="/client/images/partner/1.png" class="img__partner">
                                </div>
                                <div class="item">
                                    <img src="/client/images/partner/2.png" class="img__partner">
                                </div>
                                <div class="item">
                                    <img src="/client/images/partner/3.png" class="img__partner">
                                </div>
                                <div class="item">
                                    <img src="/client/images/partner/4.png" class="img__partner">
                                </div>
                                <div class="item">
                                    <img src="/client/images/partner/5.jpg" class="img__partner">
                                </div>
                            </div>
                            <ul class="list__menu list__slider__control">
                                <li class="list__item__inline list__slider__control__item" id="partner__control__prev">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </li>
                                <li class="list__item__inline list__slider__control__item" id="partner__control__next">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @await Component.InvokeAsync("Footer")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - LeGia</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
