@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Danh sách bài viết</h3>

<table id="list_table" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Danh mục</th>
            <th>Hiển thị ?</th>
            <th>Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Tên</th>
            <th>Danh mục</th>
            <th>Hiển thị ?</th>
            <th>Action</th>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>Edinburgh</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Senior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Integration Specialist</td>
            <td>New York</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Sales Assistant</td>
            <td>San Francisco</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Javascript Developer</td>
            <td>San Francisco</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Software Engineer</td>
            <td>Edinburgh</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i>  Sửa</button>
                <button class="height-input-button-grid btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa</button>
            </td>
        </tr>
        <tr>
            <td>Jena Gaines</td>
            <td>London</td>
            <td>Edinburgh</td>
            <td>
                <button class="height-input-button-grid btn btn-info"> <i class="fa fa-pencil" aria-hidden="true"></i>  Sửa </button>
                <button class="height-input-button-grid btn btn-danger"> <i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa </button>
            </td>
        </tr>
    </tbody>
</table>