

<footer>
    <h3 class="footer__brandname__h3">
        Công ty TNHH Xuất Nhập Khẩu - Thương Mại - Dịch Vụ - Vận Tải
    </h3>
    <h1 class="footer__brandname__h1">
        Lê Gia
    </h1>
    <p class="footer__address">
        <i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ: 43 Nguyễn Tri Phương, Phường Tân Phú, Quận Tân Bình, Tp HCM
    </p>
    <div class="row footer__header">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer__col__box">
            <h2 class="footer__box__title">Liên hệ với chúng tôi</h2>
            <ul class="list__menu">
                <li class="list__footer__item">Số điện thoại: 0901 123 456 - 0933 422 433</li>
                <li class="list__footer__item">Email: legia@gmail.com</li>
                <li class="list__footer__item">Website: vantailegia.com</li>
            </ul>
            <ul class="list__icon__social" id="footer__icon__social">
                <li class="list__item__inline ">
                    <a href="#" class="list__item__inline__link icon__link lg__facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list__item__inline ">
                    <a href="#" class="list__item__inline__link icon__link lg__google">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list__item__inline ">
                    <a href="#" class="list__item__inline__link icon__link lg__twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer__col__box">
            <h2 class="footer__box__title">Các dịch vụ của chúng tôi</h2>
            <ul class="list__menu">
                <li class="list__footer__item">
                    <a href="#">Dịch vụ khai báo Hải Quan</a>
                </li>
                <li class="list__footer__item">
                    <a href="#">Dịch vụ vận chuyển Bắc Nam</a>
                </li>
                <li class="list__footer__item">
                    <a href="#">Dịch vụ vận chuyển container đường bộ</a>
                </li>
                <li class="list__footer__item">
                    <a href="#">Dịch vụ vận chuyển container đường thủy</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer__col__box">
            <h2 class="footer__box__title">Giới thiệu về chúng tôi</h2>
            <p class="footer__box__title__about">
                Công ty chúng tôi có đội ngũ cán bộ, nhân viên giỏi chuyên môn nghiệp vụ, rất giàu kinh nghiệm trong quản lý, điều hành vận tải, sẵn sàng tư vấn miễn phí cho khách hàng. Khi sử dụng dịch vụ chúng tôi quý khách chỉ phải bỏ ra phí dịch
                vụ vận chuyển tiết kiệm nhất, nhưng sẽ nhận được chất lượng dịch vụ tốt nhất.
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="footer__copyright">
            <p>Bản quyền © 2016 thuộc về Công ty TNHH Xuất Nhập Khẩu - Thương Mại - Dịch Vụ - Vận Tải Lê Gia</p>
        </div>
    </div>
</footer>